<body>
      <header id="header">
            Installation
      </header>
      <div id="header-container">
            <p id="header-content"> Run <span id="copyme"> npm i @mayajs/cli -g</span> to install MayaJS globally in your local machine. 
            </p> 
            <div id ="image-container">
                  <button id="btn-id"><img src="{{ svg.copy }}" alt="button-copy" class="button-copy" /></button>
            </div>
      </div>
      <main>      
            <section id="section-a">
                        <img id=section-image src="{{ svg.installation }}" alt="Installation">
            </section>
            <section id="section-b">
                  <p class="section-content">Lorem Ipsum dolor sit amet, consetetur sadipscing elitr sed diam nonmy eirmod tempor invidunt ut labore et dolore magna aliqyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
                  </p>
                  <p class="section-content">Magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasda magna aliquyam.</p>
            </section>
      </main>
</body>