<body> 
      <header id="header">
            Requirements
      </header>
      <main>       
            <section id="section-a">
                  <img id=section-image src=" {{ svg.requirements }}" alt="requirements">
            </section>
            <section id="section-b">
                  <p id="section-header">Specific Requirements :</p>
                  <section class="container">
                        <div id="item-container1">
                              <ul>
                                    <li>Lorem Ipsum</li>
                                    <li>Lorem Ipsum</li>
                                    <li>Lorem Ipsum</li>
                                    <li>Lorem Ipsum</li>
                              </ul>
                        </div>
                        <div id="item-container2">
                              <ul>  <li>Lorem Ipsum</li>
                                    <li>Lorem Ipsum</li>
                                    <li>Lorem Ipsum</li>
                                    <li>Lorem Ipsum</li>
                              </ul>
                        </div>
                  </section>
            </section>
      </main>
</body>